@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Engagement&family=Lato&family=Ribeye+Marrow&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #114357;
    background: -webkit-linear-gradient(to right, #F29492, #114357);
    background: linear-gradient(to right, #F29492, #114357);
    width: 100%;
    height: 100vh;
    color: #fff;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container h1 {
    font-family: 'Ribeye Marrow', cursive, Verdana, sans-serif;
}

.flex {
    display: flex;
}

input,
button {
    border: 1px solid #dedede;
    font-size: 14px;
    padding: 8px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:focus,
input:focus {
    outline: none;
}

button:active {
    transform: scale(0.98);
}

input[type=text] {
    width: 300px;
}

button {
    color: #fff;
}

.search-btn {
    border-radius: 0;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to right, rgba(242, 148, 146, 0.7), rgba(17, 67, 87, 0.7));
}

.random-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    background: linear-gradient(to left, rgba(242, 148, 146, 0.7), rgba(17, 67, 87, 0.7));
}

/* Result Head */
.result-heading {
    font-family: 'Lato', verdana;
}

.meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.meal {
    cursor: pointer;
    position: relative;
    height: 180px;
    width: 180px;
    text-align: center;
    border: 3px solid #ffe6ea;
    border-radius: 5px;
}

.meal-info {
    position: absolute;
    font-family: 'Architects Daughter', cursive;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 67, 87, 0.7);
    background: linear-gradient(to right, rgba(242, 148, 146, 0.7), rgba(17, 67, 87, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    color: #fff;
}

.meal:hover .meal-info {
    opacity: 1;
}

.meal img {
    height: 100%;
    width: 100%;
}

/* Single meal */
.single-meal {
    margin: 70px auto 30px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-meal h2 {
    font-family: 'Architects Daughter', cursive, 'Lato', sans-serif;
    font-size: 200%;
    border: 5px #fff double;
    width: auto;
    padding: 5px 10px;
}

.single-meal img {
    width: 300px;
    margin: 0 15px 15px;
    border: 3px solid #ffe6ea;
    border-radius: 5px;
}

.single-meal-info {
    margin: 20px;
    padding: 20px 100px;
    border: 2px #ffaf1a dashed;
    border-radius: 5px;
    letter-spacing: 5px;
    font-size: 20px;
}

.meal-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.meal-instruction h3 {
    font-size: 170%;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 0;
    border: 2px #fff;
    border-style: dotted double;
    border-radius: 5px;
    padding: 5px 8px;
    width: auto;
}

.meal-instruction p {
    border: 2px #fff groove;
    text-align: left;
    padding: 15px;
    font-size: 18px;
}

.single-meal ul {
    padding-left: 0;
    list-style-type: none;
}

.single-meal ul li {
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    color: rgba(17, 67, 87, 0.7);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', verdana;
    padding: 10px 15px;
    margin: 5px;

}

@media (max-width:800px) {
    .meals {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:700px) {
    .meals {
        grid-template-columns: repeat(2, 1fr);
    }

    .meal {
        height: 200px;
        width: 200px;
    }
}

@media (max-width:500px) {
    .meals {
        grid-template-columns: repeat(1, 1fr);
    }

    .meal {
        height: 300px;
        width: 300px;
    }

    .single-meal img {
        width: 400px;
    }

    input[type=text] {
        width: 100%;
    }
}